{% extends 'base.html' %}
{% block content %}
<div class="login-page">
    <div class="login-overlay">
        <div class="login-card">
            <h1>CROWN'S</h1>
            <P>Admin Login</P>
            <form method="POST" autocomplete="off">
                <input 
                type="text"
                name="username"
                placeholder="Username"
                autocomplete="off"
                required>
                
                <input
                type="password"
                name="password"
                placeholder="Password"
                autocomplete="new-password"
                required>

                <button type="submit">
                  Login
                </button>

            </form>
        </div>
    </div>
</div>
{% endblock %}